/****** Script do comando SelectTopNRows de SSMS  ******/
select fiat.CODFIAT,we.CODSAP,fiat.Qtde from
(
	select cast(replace(res.codfiat,'E','') as NUMERIC) as CODFIAT, SUM(res.PNQNTY) as Qtde from(
		SELECT TOP 30 * from (select *  FROM [JIS].[dbo].[seqjis]) as a
	) as res
	group by res.CODFIAT
) as fiat
left join
(select * from [JIS].[dbo].[itens]) as we on fiat.CODFIAT=we.codigo